.gift__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 51px;
}