.optimization__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
    margin: 0;
}