.intro__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    max-width: 1144px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 0;
}